.twitter {
    max-width: 20vw;
    height: 100vh

}
.header_sticky {
    Position: sticky;
    Top: 0px;
    z-index: 1;
}
.footer_sticky {
    Position: sticky;
    bottom: 0px;
    z-index: 1;
}

.footer_contents {

    height:73px;
    width: 1000px;
    margin:auto;
    justify-content: center;
    
}
.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #ff7805;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .footer {
        text-align: center;
    }
}
.wrapper {
    min-height:100%;
    position:relative;
}