{% extends "theme.html" %}
{% load static %}
{% block content %}
    <wrapper style="overflow: hidden;display: inline-block;max-height: 87vh;width:100%;">
        <div class="container-fluid p-0" style="filter: brightness(70%);">
            <img src="https://pbs.twimg.com/media/EJKf3dKX0AABnkq?format=jpg&name=4096x4096" style="max-width: 100%;overflow: hidden;vertical-align: top;">
        </div> 
        <div style="width:40%;height:34rem;background-color:rgba(0,0,0,0.8);position:absolute;top: 12rem;text-align:center;color:white;right:9rem;">
        <h1 style="font-family: 'Roboto', sans-serif;color:#E3E3E3">About Us</h1><br>
<h2 style="font-family: 'Noto Sans JP', sans-serif;;color:#E3E3E3">This site's purpose is to provide a space for endos and factions to be able to sell their products and services. There are plans for a listing system, as well as a market tool to find market data for resources, factoring in location, price, route safty, among other things.  </h2><br>
<h2 style="font-family: 'Noto Sans JP', sans-serif;;color:#E3E3E3">Starbase Market is developed by me, YummierGravy, and hosted at my own expense. Message me at YummierGravy#5943 on discord if you have any suggestions or ideas. Thanks!</h2>
        </div>
    </wrapper>

{% endblock content %}