{% extends "theme.html" %}
{% load static %}
<link rel="stylesheet" href="{% static "/css/blog.css" %}"> 
  {% block content %}

  <!-- Carosel -->
    <div id="top-display" class="container-fluid p-0" style="">
    {% if messages %}
    {% for message in messages %}
      <div class="alert-dismissable alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert" style="top: 6rem;right: 40vw;z-index: 1;max-width: 20vw;position: absolute;right: 9rem;text-align: center;">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message }}</div>
    {% endfor %}
  {% endif %}
      <div id="topDisplay" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#topDisplay" data-slide-to="0" class="active"></li>
        <li data-target="#topDisplay" data-slide-to="1" class=""></li>
        <li data-target="#topDisplay" data-slide-to="2" class=""></li>
        <li data-target="#topDisplay" data-slide-to="3" class=""></li>
      </ol>
      <div class="carousel-inner" style="max-height: 87vh">
        <div class="carousel-item active" href="">
            <img class="d-block w-100" src="{% static '/images/starbase_ss1.jpg' %}" alt="slide1" style="filter: brightness(80%)";>
        </div>
        <div class="carousel-item" href="">
            <img class="d-block w-100" src="{% static '/images/starbase_ss4.jpg' %}" alt="slide2" style="filter: brightness(80%)">
        </div>
        <div class="carousel-item" href="">
            <img class="d-block w-100" src="{% static '/images/starbase_ss2.jpg' %}" alt="slide3">
        </div>
        <div class="carousel-item" href="">
            <img class="d-block w-100" src="{% static '/images/starbase_ss3.png' %}" alt="slide4">
        </div>
      <div class="carousel-caption d-md-block" style="top: 50%;transform: translateY(-50%);bottom: initial;">
        <h1>Starbase Market Coming Soon</h1>
        <h2>Check out our discord server above for updates and questions</h2>
      </div>
      </div>
  </div>
  <main role="main">

  </main>
  {% endblock content %}