<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="Starbase Market">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="YummierGravy">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">

    
    <title>Starbase Market</title>

    {% block style %}

    {% endblock style %}

    <!-- core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"> 
    <link rel="stylesheet" href="{% static "/css/blog.css" %}"> 
  </head>

  <body body style="background-color: #444444; margin:0; padding:0; height:100%;">

    <header class="header_sticky " style="height: 4rem">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height: 4rem">
          <a class="navbar-brand" href=" {% url 'main' %}">
            <img  src="{% static "/images/sb_logo.png" %}"style="height: 2.5rem" ></img>
          </a>
          <div class="row mb-0" style="justify-content: center ;">
            <div class="col-0" style="text-align:center;">
              <a class="mb-0" href="https://discord.gg/6Bs4nF" a target="_blank" style="text-align: center;">
                <img style="height: 2.3rem" src="{% static '/images/discord-icon.png' %}" >
              </a>
            </div>
            <div class="col-1" style="text-align:center;">
              <a class="mb-0" href="https://twitter.com/StarbaseMarket" a target="_blank" style="text-align: center;">
                <img style="height: 2rem;padding-top: .17rem" src="{% static '/images/twitter_social.png' %}" >
              </a>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-end container-fluid p-0 mt-2 mt-md-0">
              <li class="nav-item text-right">
                <a class="nav-link" href="{% url 'main' %}">Market <span class="sr-only">(current)</span></a>
              </li>
              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="dropdown-menu dropdown-menu-center" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="https://www.starbasegame.com/" >Starbase Site</a>
                  <a class="dropdown-item" href="https://docs.google.com/document/d/1UZWv5UM_DUMQZnlsFbLcuyjbu__Bs0yltIHsXP88qvk/edit?usp=sharing align='center'">ISAN</a>
                </div>
              </li>
              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item text-right">
                <a class="nav-link" href="{% url 'about' %}">About&nbsp;</a>
              </li>
              {% comment %} Login shit {% endcomment %}
              {% if user.is_authenticated %}
              <li class="nav-item dropdown text-right">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fab fa-discord"></i> {{ user.get_handle }}#{{ user.get_discriminator }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'user_profile' user.get_handle %}">Profile</a>
                  <a class="dropdown-item" href="JavaScript:{document.getElementById('Logout').submit()}">Logout</a>
                    <form id='Logout' method="POST" action='{% url 'LogoutPage' %}' align='center'>
                  {% csrf_token %}
                  <input type="hidden">
                  </form>
                </div>
                </li>

                  {% else %}
                <li class="nav-item text-right" style="padding-left: .2vw;">
                  <a class="btn btn-dark" href="https://discord.com/api/oauth2/authorize?client_id=763965421542965328&redirect_uri=https%3A%2F%2Fstarbase.market%2Faccounts%2FdiscordOauth2%2F&response_type=code&scope=identify%20email"style="background-color: #7289da;border-color: #2c2f33;"><i class="fab fa-discord" style="font-s"></i> Sign-Up/ Sign-In</a>&nbsp;
                  {% endif %}
              </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="p-0" style="height: 87vh;min-width: 100vh;bottom: 3rem;">
    {% block content %}

    {% endblock content %}
    </div>
  </div>
  <footer class="footer_sticky" style="min-width: 100vw;height: 3rem; bottom: 0px; position: absolute;justify-content: center;display: flex;">
    <container style="align-items: center; display: flex; justify-content: center;">
      <div class="text-muted">
        <div class="container" style="max-height: 3vh;">
          <div align="center" > ©2020-2021&nbsp;&nbsp;All Rights Reserved</div>
        </div>
      </div>
    </container>
  </footer>

    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

  {% block scripts %}

  {% endblock scripts %}
</html>




