{% extends "theme.html" %}
{% load static %}
{% block content %}
    {% comment %} <wrapper style="overflow: hidden;display: inline-block;max-height: 87vh;width:100%;"> {% endcomment %}
        <h1>
            {{ user.get_handle }}
        </h1>
    {% comment %} </wrapper> {% endcomment %}

{% endblock content %}